<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name="com.depromeet.spot.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DepromeetAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.depromeet.presentation.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.depromeet.presentation.login.ui.SingUpActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.depromeet.presentation.login.ui.SignUpCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.depromeet.presentation.viewfinder.StadiumDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.depromeet.presentation.viewfinder.StadiumActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.depromeet.presentation.viewfinder.StadiumSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.depromeet.presentation.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.depromeet.presentation.home.ProfileEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.depromeet.presentation.seatrecord.SeatRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name="com.depromeet.presentation.seatReview.ReviewActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>

        <activity android:name="com.depromeet.presentation.seatReview.ReviewDoneActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao${kakaoApiKey}" />
            </intent-filter>
        </activity>
        <activity android:name="com.depromeet.presentation.viewfinder.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
